/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* html *::-webkit-scrollbar {
  width: fit-content;
}

html *::-webkit-scrollbar-track {
  border-radius: 10px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: gray;
} */

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: initial;
}

h1 {
  font-family: "Caveat", sans-serif;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header nav {
  background-color: white;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #000;
}

header nav ul,
footer nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header button,
header button:active,
footer button,
footer button:active {
  background-color: initial;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

header .fas {
  font-size: 1.5rem;
}

/* Sidebar */
#sidebar {
  background-color: black;
  color: white;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  overflow-y: auto;
  transition: all 0.5s ease-out;

  /* Position Properties */
  position: fixed;
  top: 3.25rem;
  left: 0;
  bottom: 3.25rem;
  height: calc(100vh - 3.25rem - 3.25rem);
  width: 55vw;
  z-index: 9;
}

#sidebar h3 {
  border-bottom: 1px solid white;
  text-align: center;
}

#filter-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1rem;
}

#filter-form button {
  margin: 1rem 0rem;
  padding: 0.25rem 1rem;
  max-width: 50%;
  margin: auto;
}

.category-filters {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.35rem;
}

.distance-filter {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.35rem;
}

.category {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.distance {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}

aside#sidebar.sidebar-hidden {
  left: -60vw;
}

/* Main Sections */
#home-main > section {
  position: absolute;
  width: 100%;
  transition: all 0.75s ease-out;
  left: 0;
  z-index: 7;
  padding-bottom: 1rem;

  height: 80vh;
  overflow-y: scroll;
}

#home-main > section.section-hidden {
  opacity: 0;
  left: -100%;
}

/* Login page styles */
#index-main,
#signup-main {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#index-main .form-wrapper,
#signup-main .form-wrapper {
  height: 90vh;
  width: 400px;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

#index-main .form-wrapper .logo,
#signup-main .form-wrapper .logo {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 70px;
  height: 70px;
}

#login-form, #signup-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

#index-main .form-wrapper input,
#signup-main .form-wrapper input {
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #737373;
  width: 100%;
  margin-top: .25rem;
  color: #737373;
}

#index-main .form-wrapper input:focus,
#signup-main .form-wrapper input:focus {
  outline-color: #053E95;
}

#index-main .form-wrapper button,
#signup-main .form-wrapper button {
  padding: 0.75rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(79, 79, 79);
  cursor: pointer;
  background-color: #032963;
  color: #FBFBFB;
  font-weight: 600;
  font-size: 1rem;
}

#index-main .sign-up,
#signup-main .login {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

#index-main .sign-up a,
#signup-main .login a {
  color: #FA812A;
  text-decoration: underline;
}

form label {
  font-weight: 600;
}

#rememberMe {
  align-self: flex-start;
}

#index-main form #rememberMe label {
  font-weight: normal;
  margin-left: .2rem;
}

.form-wrapper input#rememberMeCheck {
  width: initial;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

footer nav {
  background-color: white;
  padding: 0.65rem 1rem;
  border-top: 1px solid #000;
}

footer .fas {
  font-size: 1.25rem;
  background-color: rgb(200, 200, 200);
  padding: 0.5rem;
  border-radius: 50%;
}

/* Overlays for modals */
#updateOverlay,
#deleteOverlay,
#createOverlay,
#chatOverlay,
#logoutOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}

#alerts {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.75rem;
  position: fixed;
  top: -5rem;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-out;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 11;
}

#home-main {
  margin: 4rem 0 4rem .75rem;
  position: relative;
}

/* Class Styles */
.closeBtn {
  font-size: 2rem;
  font-weight: bold;
}

.closeBtn:hover {
  cursor: pointer;
}

/* To hide elements that are present only for accessibility purposes */
.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Chat */
#previousMessages {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  margin: 1rem 0;
  padding: 0 .25rem 0 .4rem;
}

.message {
  background-color: lightgray;
  border-radius: 10px;
  width: max-content;
  max-width: 50%;
  word-wrap: break-word;
  padding: .45rem .45rem;
}

 .my-message {
  align-self: flex-end;
}

#newMessage form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
}

#newMessage input {
  flex-grow: 1;
  padding: .2rem .25rem;
  border-radius: 5px;
  border: 1px solid black;
}

#newMessage button {
  padding: .2rem .5rem;
  border-radius: 5px;
  border: 1px solid black;
}

#chatOverlay .modal {
  position: relative;
}

#chatHeader {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(175, 175, 175);
  box-sizing: border-box;
  padding: .5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#chatFooter {
  position: sticky;
  bottom: 1px;
  left: 0;
  width: 100%;
  background-color: rgb(175, 175, 175);
  box-sizing: border-box;
  padding: .5rem;
}

#chatOverlay .modal {
  overflow-y: scroll;
}

/* Sections */
section > h2 {
  max-width: max-content;
  padding: 0rem .25rem;
  margin-bottom: .75rem;
  border-bottom: 1px solid gray;
}

/* Modals */
.modal {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: .5rem 1.25rem 1.25rem 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 75%;
}

#createHeader, #updateHeader, #deleteHeader, #logoutHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

#createHeader h2, #updateHeader h2, #deleteHeader h2, #logoutHeader h2 {
  text-align: center;
  flex-grow: 1;
  justify-self: center;
}

.category-div, .description-div {
  display: flex;
  flex-flow: column nowrap;
}

.image-div {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.image-div button {
  margin-top: .25rem;
  padding: 0 .75rem;
  background-color: white;
  border: 1px solid #737373;
  color: #737373;

  flex-grow: 1;
}

input[type="file"] {
  max-width: 70%;
}

#postForm input, #postForm textarea, #postForm select, #updateForm input, #updateForm textarea, #updateForm select {
  margin-top: .25rem;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #737373;
  color: #737373;
}

#postForm input:focus, #postForm textarea:focus, #postForm select:focus, #updateForm input:focus, #updateForm textarea:focus, #updateForm select:focus {
  outline-color: #053E95;
}

#postForm textarea, #updateForm textarea {
  height: 5rem;
  resize: none;
}

#postForm, #updateForm, .delete-logout-body {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

#postForm img, #uploadForm img {
  height: 60px;
  width: auto;
  border: 1px solid lightgray;
}

#postForm button[type="submit"], #updateForm button[type="submit"], .delete-logout-body button {
  padding: 0.75rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #032963;
  color: #FBFBFB;
  font-weight: 600;
  font-size: 1rem;
}

.delete-logout-body {
  text-align: center;
}

.delete-logout-body button {
  background-color: #FF0000;
}

.required-field {
  color: red;
  font-size: .8rem;
}

.expected-date-time {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

}

.expected-date-time > input:last-of-type {
  flex-grow: 1;
}

.location-div {
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
}

.location-div > input {
  margin: 0;
}

#cameraOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#cameraButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: transparent;
}

canvas {
  display: none;
}

#uploadButton {
  display: none;
}

/* Posts */
#postList {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
}

#postList li {
  padding: .75rem .75rem .75rem 0;
  border-radius: 10px;

  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
}

.post-div {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;

  flex-grow: 1;
}

.profile-pic-div {
  min-width: 40px;
  min-height: 40px;
}

.profile-pic-div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

button {
  padding: .25rem .45rem;
  border-radius: 5px;
  border: 1px solid black;
}

.name-distance-time {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
}

.name-distance-time p:first-of-type {
  font-weight: 600;
}

.name-distance-time p:last-of-type {
  flex-grow: 1;
  text-align: right;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: .35rem;
  justify-content: center;
}
